
.slide-up-enter-active,
.slide-up-leave-active,
.slide-down-enter-active,
.slide-down-leave-active,
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
	position: absolute;
	transition: 200ms;
	width: 100%;
}

.slide-up-enter,
.slide-down-leave-to {
	transform: translateY(100px);
	opacity: 0;
}
.slide-up-leave-to,
.slide-down-enter {
	transform: translateY(-100px);
	opacity: 0;
}

.slide-left-enter,
.slide-right-leave-to {
	transform: translateX(100px);
	opacity: 0;
}
.slide-left-leave-to,
.slide-right-enter {
	transform: translateX(-100px);
	opacity: 0;
}
