@font-face {
	font-family: Manrope;
	font-weight: 300;
	font-style: normal;
	src: url('~assets/fonts/manrope/regular.otf');
}

@font-face {
	font-family: Manrope;
	font-weight: 400;
	font-style: normal;
	src: url('~assets/fonts/manrope/medium.otf');
}

@font-face {
	font-family: Manrope;
	font-weight: 600;
	font-style: normal;
	src: url('~assets/fonts/manrope/semibold.otf');
}