html, body {
	height: 100%;
}
html {
	font-size: $font-size-root;
}
#app {
	height: 100%;
}

// Prevent scroling the container/body
.pg--pg-overlay-open {
	overflow: hidden; // Disable scroll
	position: fixed; // Disable bouncing
	width: 100%; // Prevent content flowing outside after applying 'fixed'
}