.btn-lg {
	font-size: $font-size-base;
}

// Normal buttons
.btn-primary {
	color: $white !important;
}

// Inverse buttons
.btn-inverse-primary {
	@include button-variant($white, $white, $white, $white, $white, $white);
	color: theme-color('primary');
}
.btn-inverse-accent {
	@include button-variant($white, $white, $white, $white, $white, $white);
	color: theme-color('accent');
}