.pg-footer {
	margin-top: map-get($spacers, 5);
	margin-bottom: map-get($spacers, 5);
	color: $text-muted;
	font-size: $font-size-sm;
	text-align: center;

	// Link color
	a {
		&:not(:hover) {
			color: inherit;
		}
		&:hover {
			color: theme-color('primary')
		}
	}

	// Logos and warning badge
	&__aams-img {
		height: 54px;
	}
	&__age-badge {
		background-color: gray('600');
		color: $white;
		padding: .6em .4em .6em .6em;
		margin-right: map-get($spacers, 1);
	}
	&__age-text {
		font-size: $font-size-xs;
		text-transform: uppercase;
		letter-spacing: .05em;
		display: inline-block;
		vertical-align: -.4rem;
		line-height: 1.1;
	}

	// Logo
	&__logo {
		height: 32px;
		display: inline-block;

		.pg-logo__background {
			display: none;
		}
		.pg-logo__foreground {
			fill: gray('500');
		}
	}
}