// Base elements
.gm-style {
	font: inherit !important;

	// Info window
	.gm-style-iw {
		font: inherit;
	}
	.gm-style-iw-c {
		border-radius: $border-radius;
		box-shadow:
			0 0 0 1px rgba($black, 0.1),
			$box-shadow;
		padding: 0;
	}
	.gm-style-iw-d {
		overflow: auto !important;
	}
	.gm-style-iw-t::after {
		top: -1px;
	}
}

// Autocomplete
.pac-container {
	box-sizing: content-box; // Needed
	font-family: inherit;
	font-style: inherit;
	padding: $dropdown-padding-y 0;
	background-clip: padding-box;
	border: $dropdown-border-width solid $dropdown-border-color;
	border-radius: $dropdown-border-radius;
	box-shadow: $dropdown-box-shadow;
	margin-top: 2px; // Align to normal dropdowns
	z-index: $zindex-modal-backdrop; // Stay above fixed navbar
}
.pac-icon {
	display: none;
}
.pac-item {
	font-family: inherit;
	font-size: inherit;
	padding-left: $dropdown-item-padding-x;
	padding-right: $dropdown-item-padding-x;
	border: none;

	&:hover:not(.pac-item-selected),
	&:focus:not(.pac-item-selected) {
		color: $dropdown-link-hover-color;
		background-color: $dropdown-link-hover-bg;

		.pac-item-query {
			color: inherit;
		}
	}
}
.pac-item-selected {
	color: $dropdown-link-active-color;
	background-color: $dropdown-link-active-bg !important;

	.pac-item-query {
		color: inherit;
	}
}
.pac-item-query {
	font-family: inherit;
	font-size: inherit;
}
.pac-logo:after {
	padding: 0;
	background-position: right $dropdown-item-padding-x center;
	height: $font-size-root * $line-height-base + 6px; // dropdown-item vertical padding
}
