.pg-icon {
	display: inline-block;
	width: $icon-size-base;
	height: $icon-size-base;
	fill: currentColor;
	vertical-align: -.25em;

	> svg {
		vertical-align: 0;
	}

	// Sizes
	&--2x {
		width: $icon-size-base * 2;
		height: $icon-size-base * 2;
	}
	&--3x {
		width: $icon-size-base * 3;
		height: $icon-size-base * 3;
	}

	// Spinning icon
	&--spinning {
		animation: pg-icon__spin 1s infinite linear;
	}
}

@keyframes pg-icon__spin {
	100% { transform: rotate(360deg); }
}