.modal-body {
	padding-left: $modal-inner-padding * 1.5;
	padding-right: $modal-inner-padding * 1.5;
}

// Appear animation
/*
.pg-modal--appear-in-enter-active,
.pg-modal--appear-in-leave-active {
	transition: 2000ms;
}
.pg-modal--appear-in-enter,
.pg-modal--appear-in-leave-to {
	opacity: 0;
	transform: scale(1.25);
}
.pg-modal--appear-in-enter-to,
.pg-modal--appear-in-leave {
	opacity: 1;
	transform: scale(1);
}
*/