.navbar {
	transition:
		background-color $navbar-transition-duration,
		color $navbar-transition-duration;
}
// Notch support with hack
// https://github.com/webpack-contrib/sass-loader/issues/528#issuecomment-362259216
@supports(padding: max(0px)) {
	.navbar-expand {
		padding-left: m#{a}x($navbar-padding-x, env(safe-area-inset-left));
		padding-right: m#{a}x($navbar-padding-x, env(safe-area-inset-right));
	}
}
.navbar-brand {
	display: flex;
	align-items: center;
}

// Brand + logo + arrow
.navbar-brand:active {
	opacity: .85;
}
.navbar__logo {
	display: block;
	width: 196px;
	height: 42px;
}
.navbar__logo--no-symbol {
	width: 155px;
}
.navbar__logo--no-text {
	width: 29px;
}
.navbar__logo-arrow {
	margin-left: .25rem;
	width: 16px;
	height: 16px;
	transition: transform $navbar-transition-duration;
	font-size: 0; // Fixes icon misalignment

	.navbar--drawer-open & {
		transform: rotate(180deg);
	}
}

// Search
.navbar__search {
	flex: 1;
}
.navbar__search-icon-container {
	display: none;
}
.navbar__search-textbox {
	border-color: transparent !important;
	background-color: transparent !important;

	&:focus {
		border-color: none;
		box-shadow: none;
	}
}

@include media-breakpoint-up(md) {
	.navbar__search {
		position: relative;
	}
	.navbar__search-icon-container {
		padding-left: $input-btn-padding-x-lg;
		padding-right: $input-btn-padding-x-lg / 2;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		pointer-events: none;
	}
	.navbar__search-textbox {
		padding-left: ($input-btn-padding-x-lg * 1.5) + $icon-size-base;
	}
}

// Location button
.navbar__location-btn {
	background: transparent;
	border-radius: 0;
	box-shadow: none !important;
	color: $palette-dark-green-300;
	padding-left: .5rem !important;
	padding-right: .5rem !important;
	outline: none;
}

// Drawer
.navbar__drawer {
	padding-top: 64px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $zindex-fixed;
	background-color: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
	overflow: auto;
	-webkit-backdrop-filter: blur(20px);
}
.navbar__drawer-nav {
	background-color: #fff;
	padding-top: $spacer / 2;
	padding-bottom: $spacer / 2;

	.nav-item {
		font-size: $font-size-lg;
		color: #000;
		position: relative;
	}
	.nav-item + .nav-item::after {
		content: '';
		position: absolute;
		top: 0;
		left: $nav-link-padding-x;
		right: 0;
		height: 1px;
		background-color: rgba($palette-dark-green-100, .5);
		pointer-events: none;
	}
	.nav-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $palette-dark-green-400;

		&.active {
			color: theme-color('primary');
		}
	}
}
.navbar__drawer {
	&.v-enter-active,
	&.v-leave-active {
		transition: $navbar-transition-duration ease-in-out;

		.navbar__drawer-nav {
			transition: $navbar-transition-duration ease-in-out;
		}
	}

	&.v-enter,
	&.v-leave-to {
		opacity: 0;

		.navbar__drawer-nav {
			transform: translateY(-100%);
		}
	}
}

// Light style
.navbar-light {
	background-color: $white;
	// box-shadow: 0 $border-width 0 rgba($black, .08);

	.navbar__logo-arrow {
		color: $palette-dark-green-200;
	}

	.navbar__search-icon-container {
		color: rgba($black, .5);
	}
	.navbar__search-textbox {
		color: rgba($black, .5);

		&::placeholder {
			color: rgba($black, .5);
		}
		&:focus {
			color: $black;

			&::placeholder {
				color: rgba($black, .25);
			}
		}
	}
}

// Dark style (dark green)
.navbar-dark {
	background-color: $palette-dark-green-500;
	color: $white;

	.pg-logo__background {
		display: none
	}
	.pg-logo__foreground {
		fill: $white;
	}

	.navbar__search-icon-container {
		color: rgba($white, .5);
	}
	.navbar__search-textbox {
		color: $white;

		&::placeholder {
			color: rgba($white, .5);
		}
		&:focus::placeholder {
			color: rgba($white, .25);
		}
	}
}