.pg-offline-alert {
	border: 0;
	box-shadow: $box-shadow-lg;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: $zindex-fixed;
	text-align: center;

	// Small screens
	@include media-breakpoint-down(sm) {
		border-radius: 0;
	}

	// Large screens
	@include media-breakpoint-up(md) {
		margin: 1rem 1rem auto;
	}

	&.v-enter-active,
	&.v-leave-active {
		transition: .15s ease-in-out;
	}

	&.v-enter,
	&.v-leave-to {
		opacity: 0;
		transform: translateY(-100%);
	}
}