.pg-venue-detail-page {
	// Header
	.header {
		background-color: $palette-green-100;
		padding-top: $spacer;
		padding-bottom: $spacer * 6; // Space for the contact card
	}
	.header-gallery {
		display: flex;
		overflow: auto;
		position: relative;
		margin-bottom: $spacer * 2;
	}
	.header-gallery-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		z-index: 0;
		display: flex;
		pointer-events: none;
	}
	.header-gallery-fade {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: $grid-gutter-width;
		background: linear-gradient(to right, rgba($palette-green-100, 0), $palette-green-100);
		pointer-events: none;
	}
	.header-photo {
		position: relative; // Stay above the background boxes
		width: 100px;
		height: 100px;
		background-color: $body-bg;
		border: $border-width solid $palette-green-200;
		border-radius: $border-radius;
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		padding: .25rem;
		transition: $transition-base, padding 0ms, width 0ms, height 0ms;

		&:hover,
		&:focus {
			color: theme-color('primary');
			border-color: theme-color('primary');
			box-shadow: inset 0 0 0 1px theme-color('primary');
		}
	}
	.header-photo + .header-photo {
		margin-left: map-get($spacers, 2);
	}
	.header-photo-img {
		background-position: center center;
		background-size: cover;
	}
	.header-photo-add {
		flex-direction: column;
		text-decoration: none;
		color: gray('500');
		text-align: center;
	}
	.header-photo-zoom {
		background-color: rgba(#000, .33);
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: .5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.header-title {
		color: $palette-dark-green-500;
		font-size: $h5-font-size;
	}

	// Contact card
	.contact-card {
		border: 0;
		margin-top: -($spacer * 5);
		font-size: $font-size-sm;
	}
	.contact-card-map {
		border-radius: $card-border-radius;
		background-size: 200%;
	}
	.contact-card-map-content {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.contact-card-map-marker {
		transform: translateY(-50%); // Use bottom part to point to center
	}
	.contact-card-list-item {
		margin-left: $grid-gutter-width;
		padding: 1rem 0;
		position: relative;

		&:first-child {
			border-top: 0;
		}

		&:hover {
			z-index: 0; // Override bootstrap default zindex that hides borders
		}
	}
	.contact-card-list-item-icon {
		position: absolute;
		left: -($grid-gutter-width);
	}
	.contact-card-chevron-icon {
		height: .75rem;
		width: .75rem;
		vertical-align: -.125rem;
	}

	// Jackpots
	.jackpot {
		display: flex;
		align-items: flex-start;
	}
	.jackpot-name {
		text-transform: uppercase;
		font-size: $font-size-sm;
		letter-spacing: .1em;
	}
	.jackpot-icon {
		margin-right: map-get($spacers, 2);
		margin-top: -4px;
	}
	.jackpot-value {
		font-size: $font-size-xl;
		line-height: 1.25;
		font-weight: $font-weight-bold;
		margin-top: map-get($spacers, 1);
	}

	// Details
	.detail-list-item {
		margin-top: map-get($spacers, 2);
	}

	// Nearby venues
	&__nearby-item-icon {
		width: 24px;
		height: 24px;
		fill: $white;
		margin-right: $grid-gutter-width / 2;

		.pg-svg__background {
			fill: $palette-fuchsia-400;
		}
	}
	&__nearby-item-category {
		text-transform: uppercase;
		letter-spacing: .025rem;
		color: $gray-700;
		font-size: $font-size-xs;
		font-weight: $font-weight-semibold;
	}
	&__nearby-item-name {
		font-weight: $font-weight-semibold;
	}
	&__nearby-item-address {
		color: $text-muted;
		font-size: $font-size-xs;
	}

	&__nearby-item:hover &__nearby-item-name {
		color: $link-hover-color;
	}

	@include media-breakpoint-up(sm) {
		.contact-card-map {
			background-size: 150%;
		}
	}

	@include media-breakpoint-up(md) {
		.header-gallery {
			margin-top: $spacer * 2;
			margin-bottom: $spacer * 4.5;
			overflow: hidden;
		}
		.header-photo {
			width: 200px;
			height: 200px;
			padding: .5rem;
		}
		.header-title {
			font-size: $h4-font-size;
		}
		.contact-card-map {
			background-size: 100%;
		}
	}

	@include media-breakpoint-up(lg) {
		.header {
			padding-bottom: $spacer;
		}
		.contact-card {
			margin-top: -($spacer * 7.5);

			&:after {
				display: block;
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: $card-border-width solid $card-border-color;
				border-radius: $card-border-radius;
				pointer-events: none;
			}
		}
		.contact-card-map {
			background-size: 200%;
			@include border-bottom-radius(0);
		}
		.contact-card-list-item {
			margin-left: $grid-gutter-width * 1.5;
			padding-right: 1.25rem;
		}
	}
}