.pg-explore-page {
	display: flex;
	overflow-x: hidden; // Fix scrollbar issues
	flex-direction: column;
	height: 100vh;

	.wrapper {
		flex: 1;
		display: flex;
	}

	// Filters
	.filter-navbar {
		padding: 0;
		flex-wrap: nowrap;
		box-shadow: 0 $border-width 0 rgba(#000, .08); // FIXME: Replace with var
		// overflow-x: auto;
		// overflow-y: visible;
		// -webkit-overflow-scrolling: touch;
		z-index: 3; // Stay above the content AND above the selected list item
		position: relative; // Stay above the content
	}

	.filter-button {
		// Override bootstrap button
		color: inherit;
		text-decoration: none;
		font-weight: inherit;
		border-radius: 0;
		transition: none;
		border: 0;

		position: relative;
		padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
		line-height: 1;
		cursor: default;
		user-select: none;
		overflow: hidden;
		white-space: nowrap;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&::after {
			content: '';
			position: absolute;
			top: .5rem;
			bottom: .5rem;
			right: 0;
			width: $border-width;
			border: 0;
			background-color: gray('200');
		}
	}
	.filter-button__label {
		text-transform: uppercase;
		font-size: $font-size-xs;
		font-weight: $font-weight-semibold;
		color: gray('600');
	}
	.filter-button__arrow {
		width: .75rem;
		height: .75rem;
		vertical-align: -.08em;
		color: gray('600');
	}
	.filter-button__text {
		margin-top: .125rem;
	}
	.dropdown.show > .filter-button {
		color: $white;
		background-color: $palette-green-500;

		&:after {
			visibility: hidden;
		}
		.filter-button__label,
		.filter-button__arrow {
			color: $palette-green-100;
		}
		.filter-button__text {
			color: inherit;
		}
	}
	.filter-button--toggle {
		color: theme-color('primary');
	}

	.filter-button-menu__icon {
		width: $icon-size-base;
		color: $palette-green-500;
		margin-right: .75rem;
	}
	.filter-button-menu__text {
		flex: 1;
	}

	// Venue list
	.venue-list {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		display: flex;
		flex-direction: column;
	}
	.venue-list-placeholder-item {
		text-align: center;
		border: 0;
		flex: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.venue-list-item {
		border: 0;
		padding-top: map-get($spacers, 3);
		padding-bottom: map-get($spacers, 3);
	}
	.venue-list-item-photo {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: $border-radius-sm;
		background-color: $palette-green-200;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.venue-list-item-icon {
		max-width: 66%;
		max-height: 80%;
	}
	.venue-list-item--highlighted {
		background-color: lighten($palette-green-100, 4%);

		.venue-list-item-photo {
			background-color: $palette-green-300;
		}
	}
	.venue-list-item.active {
		background-color: $palette-green-100;
		color: inherit;
	}


	// Map
	.map {
		flex: auto;
		height: 100%;
	}
	.map-infowindow-content {
		width: 280px;
	}
	.map-refresh-btn {
		position: absolute;
		top: 101px;
		left: 10px;
		width: 40px; // Align with zoom buttons
		height: 40px;
		padding: 0;
		border-radius: $border-radius-sm;
		box-shadow: 0 1px 4px -1px rgba(#000, .3);

		.pg-button__icon {
			width: 24px;
			height: 24px;
			vertical-align: -.3em;
		}
	}
	.map-floating-controls {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding-bottom: 1rem;
	}
}