.pg-home-page {
	// Navbar
	.navbar-light {
		background-color: transparent;
	}

	// Hero
	&__hero {
		background-color: $palette-green-100;
		position: relative;
	}
	&__hero-background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 60%;
		overflow: hidden;
	}
	&__hero-background-img {
		width: 100%;
		position: absolute;
		top: 50%;
		right: -30%;
		margin-top: -50%;
	}
	&__hero-content {
		padding-top: $spacer * 3;
		padding-bottom: $spacer * 3;
	}

	@include media-breakpoint-up(md) {
		&__hero-content {
			margin-bottom: $spacer * 5;
			padding-top: $spacer * 5;
			padding-bottom: $spacer * 5;
		}
	}

	// Search
	&__search-form-control:focus {
		border-color: theme-color('accent');
		box-shadow: inset 0 0 0 1px theme-color('accent');
	}
	&__search-query-control {
		background-color: $white; // Default is gray
		padding-right: ($input-btn-padding-x-lg * 2) + 1rem;
	}
	&__search-locate-btn-wrapper {
		position: absolute;
		top: 0;
		right: 0;
	}
	&__search-locate-btn {
		background-color: transparent;
		color: $gray-600;

		&:not([disabled]):hover,
		&:not([disabled]):focus {
			color: theme-color('accent');
		}
	}

	// Main venue
	&__main-venue-container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	&__main-venue {
		flex: 1;
		background-color: $palette-dark-green-300;
		border-radius: $border-radius-lg;
		min-height: 5em;
	}

	@include media-breakpoint-up(md) {
		&__main-venue-container {
			position: absolute;
			top: -($spacer * 5);
			bottom: -($spacer * 8);
		}
	}

	// Scrollable pane on small screens
	@include media-breakpoint-down(sm) {
		&__scrollable-pane {
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
		}
		&__scrollable-pane-row {
			white-space: nowrap;
			flex-wrap: nowrap;
			padding-bottom: $spacer / 2; // Avoid cropping to token shadows

			> * {
				white-space: normal;
			}
		}
	}

	// Tokens
	&__token-section {
		line-height: 4;
	}
	&__token {
		display: inline-flex;
		align-items: center;
		padding: .5rem 1rem;
		border-radius: 3rem;
		color: $body-color;
		background-color: $white;
		box-shadow:
			0 0 0 2px transparent inset,
			0 1px 0 rgba($black, .08),
			0 1px 3px rgba($black, .1);
		transition: .15s;
		outline: none;
		
		// Spacing
		line-height: $line-height-base; // Reset parent line height
		margin-left: -.5rem;
		margin-right: 1.5rem;

		&:hover,
		&:focus {
			color: inherit;
			text-decoration: none;
		}
	}
	&__token-icon {
		width: 40px;
		height: 40px;
		margin-left: -.5rem;
		margin-right: .5rem;
	}

	&__token--category {
		&:hover,
		&:focus {
			box-shadow:
				0 0 0 2px theme-color('primary') inset,
				0 1px 0 rgba($black, .08),
				0 1px 3px rgba($black, .1);
		}

		.pg-home-page__token-icon {
			fill: theme-color('primary');

			.pg-svg__background {
				fill: $palette-green-100;
			}
		}

	}
	&__token--city {
		&:hover,
		&:focus {
			box-shadow:
				0 0 0 2px theme-color('accent') inset,
				0 1px 0 rgba($black, .08),
				0 1px 3px rgba($black, .1);
		}

		.pg-home-page__token-icon {
			fill: theme-color('accent');

			.pg-svg__background {
				fill: $palette-fuchsia-100;
			}
		}

	}

	// Promote
	&__promote-section {
		padding-top: $spacer;
		padding-bottom: $spacer;
		background-color: $palette-green-100;
	}

	@include media-breakpoint-down(sm) {
		&__promote-section {
			text-align: center;
			margin-top: $spacer * 4;
			margin-bottom: $spacer * 3;
		}
		&__promote-img {
			width: 7rem;
			margin: -($spacer * 4) auto $spacer;
		}
	}

	@include media-breakpoint-up(md) {
		&__promote-section {
			padding-top: $spacer * 2;
		}
	}
}