.pg-promote-page {
	.jumbotron {
		background-color: $palette-green-100;
		color: $palette-dark-green-500;
	}
	.jumbotron-title {
		font-size: $h2-font-size;
		font-weight: $font-weight-bold;
	}
	.section-title {
		margin-bottom: $spacer;
	}

	@include media-breakpoint-up(md) {
		.jumbotron-title {
			font-size: $display3-size;
			margin-bottom: $spacer * 2;
		}
		.jumbotron-text {
			font-size: $font-size-lg;
		}
		.section-title {
			font-size: $h2-font-size;
		}
	}
}