.pg-venue-form-page {
	.secondary-nav {
		position: sticky;
		top: 0;
		z-index: $zindex-dropdown - 1; // Keep it below dropdowns
		background-color: $white;
		border-bottom: 1px solid rgba($black, .08);
	}
	.title-wrapper {
		padding: $navbar-padding-y 0;
	}
	.section-nav-wrapper {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		padding-top: 0;
		padding-bottom: 0;
	}
	.section-nav {
		flex-wrap: nowrap;
		white-space: nowrap;

		.nav-item {
			position: relative;
			text-transform: uppercase;
			letter-spacing: .05em;
			font-size: $font-size-sm;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: -1px;
				right: -2px;
				height: 2px;
				transform: scaleX(0);
				opacity: 0;
				border-radius: 2px;
				background-color: theme-color('primary');
				transition: transform 150ms ease-in-out, opacity 100ms 50ms ease-in-out;
				pointer-events: none;
			}
		}
		.nav-item {
			margin-left: $nav-link-padding-x;
			margin-right: $nav-link-padding-x;
		}
		.nav-item:first-child {
			margin-left: 0;
		}
		.nav-link {
			transition: color 150ms;
			color: $gray-600;
			padding-left: 0;
			padding-right: 0;

		}
		.nav-item.active {
			&::after {
				transform: scaleX(1);
				opacity: 1;
			}
			.nav-link {
				color: inherit
			}
		}
	}
}