// Grayscale
$white:    #fff;
$gray-100: #f2f3f2;
$gray-200: #e4e7e4;
$gray-300: #cdd1ce;
$gray-400: #a7ada9;
$gray-500: #7c837e;
$gray-600: #686e6a;
$gray-700: #565c58;
$gray-800: #454a46;
$gray-900: #313532;
$black:    #000;

// Bootstrap colors
$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

// Color palette
$green-100: #e8f5ec;
$green-200: #d5f1dd;
$green-300: #b7e6c4;
$green-400: #8dd3a0;
$green-500: #64c37e;
$green-600: #5aaf71;
$green-700: #439358;
$green-800: #337043;
$green-900: #1c4a29;

$olive-100: #e4f1ee;
$olive-200: #d4e8e3;
$olive-300: #9dcdc1;
$olive-400: #55af99;
$olive-500: #2e997e;
$olive-600: #367c6b;
$olive-700: #316862;
$olive-800: #446968;
$olive-900: #1c4240;

$blue-100: #ebfaff;
$blue-200: #b5e7f7;
$blue-300: #78c8e2;
$blue-400: #53b5d5;
$blue-500: #2badd9;
$blue-600: #0298ca;
$blue-700: #0c80a7;
$blue-800: #076c8d;
$blue-900: #094b61;

$fuchsia-100: #f8ecf0;
$fuchsia-200: #fcd4e0;
$fuchsia-300: #f5a3bb;
$fuchsia-400: #fe729b;
$fuchsia-500: #f3376e;
$fuchsia-600: #dd3667;
$fuchsia-700: #c73d68;
$fuchsia-800: #9a3756;
$fuchsia-900: #7c2e46;

$orange-100: #fef5eb;
$orange-200: #fadab7;
$orange-300: #fccb97;
$orange-400: #f9a858;
$orange-500: #fd8308;
$orange-600: #dd6f08;
$orange-700: #bc5b01;
$orange-800: #8d4311;
$orange-900: #712e04;

$red-100: #fef5f5;
$red-200: #f4c0bd;
$red-300: #f09c98;
$red-400: #e47c77;
$red-500: #da453e;
$red-600: #be332d;
$red-700: #96312c;
$red-800: #8c140d;
$red-900: #76100a;