// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

@import "colors";

$grays: ();
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$colors: ();
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$primary:       $green-500;
$secondary:     $gray-200;
$accent:        $fuchsia-500;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "accent":     $accent,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,

  "gray-300":   $gray-300,
  "gray-500":   $gray-500,
  "olive-800":  $olive-800,
  "olive-900":  $olive-900,
  "orange-100": $orange-100,
  "orange-600": $orange-600
), $theme-colors);

// Options
$enable-shadows:               true;
$enable-responsive-font-sizes: true;

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 2),
  6: ($spacer * 3)
);

// Body
$body-color: $gray-900;

// Links
$link-color: darken($primary, 15%);
$link-hover-decoration: none;

// Grid
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1080px
);

$grid-gutter-width: 24px;

// Components
$border-width: 1px;

// Typography
$font-family-sans-serif: Manrope, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size-root:         16px;
$font-size-base:         1rem; // Assumes the browser default, typically `16px`
$font-size-xs:           $font-size-base * .75; // 12px
$font-size-sm:           $font-size-base * .875; // 14px
$font-size-md:           $font-size-base * 1.125; // 18px
// $font-size-lg:        $font-size-base * 1.25; // 20px
$font-size-xl:           $font-size-base * 1.5; // 24px

$font-weight-normal:     300;
$font-weight-semibold:   400;
$font-weight-bold:       600;

$font-weight-base:       $font-weight-normal;

$line-height-base:       1.5;
$line-height-xs:         1.5;

$headings-font-weight:   $font-weight-bold;

$display1-size:          5rem;
$display2-size:          4rem;
$display3-size:          3rem;
$display4-size:          2.5rem;
$display1-font-weight:  $font-weight-semibold;
$display2-font-weight:  $font-weight-semibold;
$display3-font-weight:  $font-weight-semibold;
$display4-font-weight:  $font-weight-semibold;
$display-line-height:   1.1;

$hr-border-color: rgba($black, .08);

$list-inline-padding: $spacer;

// Components
$border-radius:    .25rem;
$border-radius-lg: .375rem;
$border-radius-sm: .1875rem;
$border-radius-xs: .1875rem;

// Buttons + forms
$input-btn-line-height:  $line-height-base;
$input-btn-border-width: $border-width;

$input-btn-padding-y-xs:   .2rem;
$input-btn-padding-x-xs:   .4rem;
$input-btn-font-size-xs:   $font-size-xs;
$input-btn-line-height-xs: $line-height-xs;

$input-btn-padding-y-lg: .6875rem;
$input-btn-padding-x-lg: 1.125rem;

// Buttons
$btn-font-weight:       $font-weight-semibold;
$btn-box-shadow:        none;

$btn-padding-y-xs:     $input-btn-padding-y-xs;
$btn-padding-x-xs:     $input-btn-padding-x-xs;
$btn-font-size-xs:     $input-btn-font-size-xs;
$btn-line-height-xs:   $input-btn-line-height-xs;
$btn-border-radius-xs: $border-radius-xs;

$btn-font-size-lg:      $font-size-base;
$btn-border-radius-lg:  $border-radius;

$btn-focus-box-shadow:  none;
$btn-disabled-opacity:  .5;

$btn-active-box-shadow: none;

// Forms
$input-bg:                 $white;
$input-border-color:       rgba($black, .15);
$input-border-width:       $input-btn-border-width;
$input-box-shadow:         0 0 0 transparent; // "none" was removing additional box shadows;
// $input-border-radius:      $border-radius;
$input-border-radius-lg:   $border-radius;
// $input-border-radius-sm:   $border-radius-sm;

$input-focus-border-color: $primary;
$input-focus-box-shadow:   inset 0 0 0 1px $primary;

$input-placeholder-color: $gray-500;

$input-transition:        border-color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out;

$input-group-addon-bg:           $input-bg;
$input-group-addon-border-color: $input-border-color;

$custom-control-indicator-size: 1.25rem;
$custom-control-indicator-border-color: $input-border-color;

$custom-select-box-shadow:         0 0 0 transparent; // "none" was removing additional box shadows
$custom-select-focus-border-color: $input-focus-border-color;
$custom-select-focus-box-shadow:   inset 0 0 0 1px $primary;

// Navs
$nav-tabs-border-width:             2px;
$nav-tabs-link-hover-border-color:  $light;
$nav-tabs-link-active-bg:           transparent;
$nav-tabs-link-active-border-color: $olive-900;
$nav-tabs-link-active-color:        $olive-900;
$nav-tabs-link-padding-x:           map-get($spacers, 2);

// $nav-pills-border-radius:           5rem;
$nav-pills-link-active-color:       $olive-100;
$nav-pills-link-active-bg:          $olive-900;

// Navbar
$navbar-transition-duration: 300ms;

// Dropdowns
$dropdown-border-color:   rgba($black, .08);
$dropdown-box-shadow:     0 .33rem 1rem rgba($black, .05);

$dropdown-link-hover-bg:  $green-100;

// Icons
$icon-size-base: 1.25rem; // 20px

// Cards
$card-spacer-y:      .5rem;
$card-spacer-x:      1rem;
$card-border-color:  rgba($black, .08);
$card-border-radius: $border-radius-lg;

// List group
$list-group-border-color:       rgba($black, .08);

$list-group-item-padding-x:     1rem;

$list-group-hover-bg:           $green-100;

$list-group-action-color:       inherit;
$list-group-action-hover-color: $olive-900;

$list-group-action-active-bg:   $green-100;



// Breadcrumbs
$breadcrumb-font-size:      $font-size-sm;
$breadcrumb-padding-y:      0;
$breadcrumb-padding-x:      0;
$breadcrumb-margin-bottom:  2rem;
$breadcrumb-bg:             transparent;
$breadcrumb-divider-color:  $gray-300;
$breadcrumb-active-color:   $body-color;


// Modal
$modal-content-border-color:     rgba($black, .1);
$modal-content-border-radius:    $border-radius;
$modal-content-box-shadow-xs:    0 .25rem 1.5rem rgba($black, .25);
$modal-content-box-shadow-sm-up: 0 .5rem 3rem rgba($black, .25);

$modal-backdrop-opacity:         .25;
$modal-header-border-color:      rgba($black, .08);
$modal-footer-border-color:      $modal-header-border-color;
$modal-header-padding:           0.75rem 1rem;

// Progress bar
$progress-box-shadow: none;