// Sizes
.font-size-xs {
	font-size: $font-size-xs;
}

// Weight and italics
.font-weight-semibold {
	font-weight: $font-weight-semibold !important;
}

// Contextual colors
.text-inherit {
	color: inherit;
}
a.text-inherit {
	@include hover-focus {
		color: inherit;
	}
}

@include text-emphasis-variant('.text-dark-green', $palette-dark-green-500);
@include text-emphasis-variant('.text-dark-green-muted', $palette-dark-green-300);